doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home 
        link(rel='stylesheet', href='/css/home.css')
    body 
        h1=`${title}`  
        p Welcome to #{title}   USUARIO LOGADO: #{usuario}
        a(href='/usuarios') /usuarios LISTADO USUARIOS
        a(href='/usuarios/update') /usuarios/update  MODIFICAR USUARIO
        a(href='/usuarios/nuevo') /usuarios/nuevo  CREAR USUARIO
        a(href='/tiendas')  /tiendas  LISTADO TIENDAS
        a(href='/tiendas/nueva')  /tiendas/nueva  CREAR TIENDA
        a(href='/sesiones/nueva') /sesiones/nueva    LOGIN