doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login
        link(rel='stylesheet', href='/css/sesiones.css')
    body 
        div#login
            form(id='login' action='/sesiones/nueva' method='post')
                input(name='email' type='email' placeholder='Email')
                br
                input(name='password' placeholder='Password' type='password')
                br
                br
                input(type='submit' value='Validar') 